<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout/layout :: html_head">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <b>정산</b> 시스템
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h2 class="headline text-yellow">404</h2>

        <h3><i class="fa fa-warning text-yellow"></i> 페이지를 찾을 수 없습니다. </h3>

        <p>이전 페이지로 돌아가거나 첫페이지로 돌아가세요.</p>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<div th:replace="layout/layout :: script-area">
</div>

</body>
</html>
